//- extends ../index
//- block projects


div(class='col-md-4 border projectOverview')
  p There are {{projects.length}} projects
  input(type="search", ng-model="q", placeholder="filter projects...")
  ul(ng-repeat="project in projects | filter:q")
    li: a(href='#', ng-click="getTasks(project.id)") {{project.description}}
div(class='col-md-8 border projectOverview')
  //- include partials/tasks
  div.input-group
    p There are {{tasks.length}} tasks
    //- form(ng-submit="myFunc({{project.$index}})")
    span.input-group-addon New Task
    input(type='text', class='form-control', placeholder='Enter new task', ng-model='newtask', ng-enter="myFunc(project.$index)")
  ul(ng-repeat="task in tasks")
    li {{task.description}}

